<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <title>Registrarse</title>
</head>
<body>

    <div class="container alerta">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                {% for category, message in messages %}

                <div class="alert alert-{{ category }}" role="alert">
                    {{message}}
                </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>


    <div class="contenido_registro">
        <a class="btn btn-primary botonback" href="{{ url_for('inicio') }}" role="button"><box-icon name='arrow-back' rotate='90' animation='tada' color='#efeded' ></box-icon></a>
        <img src="/static/img/head.png">
        <h2>  Crear cuenta en Pixel FV </h2>
        <form id="iconos" name="iconos" action="/registrarse", method="post">
            <div class="cuadros">
                <label for="user"> Nombre de Usuario </label><br>
                <input type="text" id="user" name="usuario">
            </div>
            <div class="cuadros">
                <label for="correo"> Direccion electronico: </label><br>
                <input type="email" id="correo" name="correo" placeholder="@example.com">
            </div>
            <div class="cuadros">
                <label for="contra"> Contraseña: </label><br>
                <input type="password" id="contra" name="contraseña">
            </div>
            <div class="cuadros">
                <input type="submit" value="Sign In">
            </div>
        </form>
    </div>
   
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>