body{
    background: url(/static/img/background.gif);
    background-repeat: no-repeat;
    background-size: 103%;
    background-position-y: -135px;
}

#inicio{
    background: #8099E9;
}

hr{
    margin-top: 70%;
}

.contenido{
    color: black;
    background: white;
    opacity: 85%;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    width: 400px;
    height: 490px;
    margin: auto;
    margin-top: 5%;
}

.contenido_registro{
    color: black;
    background: white;
    opacity: 85%;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    width: 420px;
    height: 500px;
    margin: auto;
    margin-top: 5%;
}

img{
    display: block;
    margin: auto;
    width: 100px;
    height: 70px; 
    opacity: 100%;
}

#registro{
    display: block;
    margin: auto;
    width: 100px;
    height: 80px; 
    opacity: 100%;
}

h2{
    text-align: center;
    color: #fc5a8d;
    font-size: 25px
}

.contenido .cuadros input{
    width: 100%;
    padding: 10px 0;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;

}

.contenido_registro .cuadros input{
    width: 100%;
    padding: 10px 0;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}


.contenido .cuadros input[type="submit"]{
    background-color: #1415A7;
    color: white;
    opacity: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.contenido_registro .cuadros input[type="submit"]{
    background-color: #1415A7;
    color: white;
    opacity: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

#menu_toggle{
    opacity: 0;
}

#menu_toggle:checked + .menu_btn > span{
    transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before{
    top:0;
    transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
    top:0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
    left: 0 !important;
}

.menu_btn{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .25s;
}

.menu_btn > span::before {
    content: '';
    top: -8px;
}

.menu_btn > span::after {
    content: '';
    top: 8px;
}

.menu_box{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu_item{
    display: block;
    padding: 12px 24px;
    color: #171430;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu_item:hover{
    background-color: #E99DCB;
}

.botonback{
    position: fixed;
    left: 645px;
    top: 100px;
    border-radius: 150px;
    background-color: #1415A7;
}

.mensaje{
    position: absolute;
    width: 400px;
    height: 200px;
    background: rgb(255, 251, 251);
    top: 80px;
    left: 20px;
    border-radius: 40px;
}

.texto{
    position: absolute;
    left: 15px;
    font-size: 20px;
}